<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">User</span>
            <input type="text" pInputText placeholder="Username" [(ngModel)]="usuario.nome" />
        </div>
    </div>
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">Email</span>
            <input type="email" pInputText placeholder="Email" [(ngModel)]="usuario.email" />
        </div>
    </div>
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <button pButton (click)="salvar()" label="Salvar"></button>
        </div>
    </div>
</div>